<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NavBar</title>
    <link rel="stylesheet" href="../index.css">
</head>
<body>
    <header>
        <div class="row justify-between">
            <div class="logo"><a href="/reciepe/reciepe">RECIEPE</a></div>
            <nav class="navigation">
                <ul class="row">
                    <li><a href="/reciepe/allReciepep">Recipe List</a></li>
                    <li><a href="/reciepe/singleReciepep">User-Specific Recipes</a></li>
                    <li><a href="/reciepe/reciepe">Recipe Form</a></li>
                    <li><a href="/user/signup">Signup</a></li>
                    <li><a href="/user/login">login</a></li>
                    <li><a href="/user/logout">Logout</a></li>
                </ul>
            </nav>
        </div>
    </header>
</body>
</html>