<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>
</head>
<body>
    <%- include("nav") %>
    <section class="signupForm">
        <form action="/user/signup" method="post" id="form">
            <input type="text" name="username" placeholder="Enter UserName">
            <input type="password" name="password" placeholder="Enter Password">
            <select name="role" id="role">
                <option value="user">USER</option>
                <option value="admin">ADMIN</option>
            </select>
            <input type="submit" value="Signup" id="signup">
        </form>
    </section>
</body>
</html>